<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3">
        <h2 class="">Contact us</h2>
        <ul class="list-unstyled">
          <li>
            <a href="mailto:keepsafe@consento.org?subject=Investors">Investors</a>
          </li>
          <li>
            <a href="mailto:keepsafe@consento.org?subject=Press">Press</a>
          </li>
          <li>
            <a href="mailto:keepsafe@consento.org?subject=Institutions">Institutions</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">
        <h2 class="">Develop</h2>
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/consento-org/">Git</a>
          </li>
          <li>
            <a href="https://keybase.io/team/consento">Keybase</a>
          </li>
          <li>
            <p>White Paper upcoming.</p>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-md-0 mb-3">
        <h2 class="">About</h2>
        <ul class="list-unstyled">
          <li>
            <a href="https://keybase.io/team/consento">Team</a>
          </li>
          <li>
            <a href="#!">About</a>
          </li>
          <li>
            <a href="{{@site.url}}/blog/rss/">Blog</a>
          </li>
        </ul>

      </div>
    </div>
  </div> 
  <div class="footer-copyright text-center py-3">© Consento - All rights reserved - Credits
  </div>
</footer>

<style>
  .page-footer a {
    font-family: WorkSans-Regular;
    border-bottom: none;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
  }

  .page-footer li {
    padding-left: 0px;
    padding-bottom: 10px;
  }
</style>