<div class="container" style="margin-top: 30px;">
    <div class="row mt-5 mb-5">
        <div class="col-sm-12 text-center">
            <h2>They trust us</h2>
        </div>
    </div>
</div>
<div class="container mb-5" style="max-width: 900px;">
    <div id="trusted_companies" class="row text-center mt-5">
        <div class="col-sm-4">
            <a href="https://ledgerproject.eu" target="_blank">
            <img class="img-fluid" src="{{asset "images/bitmap.png"}}" />
            <h4 class="mt-2">LEDGER</h4>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="https://ledgerproject.eu" target="_blank"><img class="img-fluid" src="{{asset "images/port parallele.png"}}" />
            <h4 class="mt-2">Port Parallele</h4>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="https://www.ngi.eu" target="_blank">
            <img class="img-fluid" src="{{asset "images/NGI.png"}}" />
            <h4 class="mt-2">NGI</h4>
            </a>
        </div>
    </div>
</div>
<style>
    #trusted_companies a {
            text-decoration: none;
            border: none;
        }

    #trusted_companies a:hover {
        opacity: .6;
    }

    #trusted_companies img {
        width: 94px;
    }

    #trusted_companies .col-sm-4 {
        margin-top: 30px;
    }
</style>