<nav id="top-bar" class="navbar navbar-expand-md fixed-top navbar-light">
    <div class="container">
        <header class="major" id="header">
            <a href="{{@site.url}}" class="{{#if @site.logo}}image{{/if}}">{{#if @site.logo}}<img src="/../assets/images/consento-with-text.png" class="img-fluid navbar-brand " alt="{{@site.title}}" />{{/if}}</a>
            {{!-- <section class="tagline">{{@site.description}}</section> --}}
        </header>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div id="menu" class="col-sm-12">
                <ul class="navbar-nav mr-auto links align-items-center">
                    {{#if @site.navigation}}
                        {{navigation}}
                    {{/if}}    
                    <li class="nav-item">
                        <a href="https://github.com/consento-org/mobile/releases/tag/v1.0.0" target="_blank" class="btn btn-primary download-btn" role="button">Download</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<style>
    a.image:hover img {
        opacity: 0.6;
        transform: scale(0.9);
    }

    .navbar-toggler-icon {
        width: 1.5em;
        background-size: cover;
    }

    .show {
        padding-bottom: 5px;
    }
    
    @media screen and (max-width: 500px) {
        .navbar-brand {
            max-width: 9em;
        }
    }

    @media screen and (max-width: 767px) {
        #menu {
            text-align: -webkit-center;
            text-align: center;
        }
        #menu .download-btn {
            width: 150px;
            display: inline-block;
            padding-left: initial;
            padding-right: initial;
        }
        #menu > ul {
            float: initial;
        }
        #menu > ul > li {
            padding-left: 0em;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        .download-btn {
            width: 130px;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        #menu ul li {
            padding-left: 1em;
        }
    }

    @media screen and (min-width: 1400px) {
        .navbar-brand {
            max-width: 14em;
        }
    }
</style>