{{!< default}}

{{#post}}
{{!-- Everything inside the #post tags pulls data from the page --}}
<div class="container">
{{#if feature_image}}
<section class="featured">
    <div class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></div>
</section>
<section>
{{^}}
<section class="no-featured">
{{/if}}
    <header class="main content">
        <h1>{{title}}</h1>
    </header>

    <div class="content">
        {{content}}
    </div>
    {{#has slug="credits"}}
        {{> supporters}}
    {{/has}}
</section>
</div>


{{/post}}