{{!< default}}

{{#post}}
{{!-- Everything inside the #post tags pulls data from the page --}}
{{#if feature_image}}
<section class="featured">
    <div class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></div>
</section>
<section class="featured-content container">
{{^}}
<section class="no-featured container">
{{/if}}
    <header class="main">
        <h1>{{title}}</h1>
    </header>

    <article>
        {{content}}
    </article>
</section>

{{/post}}