.consento-blue {
    color: #37afc9;
}
.navbar {
    max-height: 100%;
}
header.content {
    padding-top: 9em;
}
.page-about h2, .page-team h2, .page-supporters h2 {
    margin-top: 2em;
    margin-bottom: 1.3em;
}

.page-about h3,.page-about h4,.page-about h5,.page-about p, 
.page-team h3,.page-team h4,.page-team h5,.page-team p,
.page-supporters h3,.page-supporters h4,.page-supporters h5,.page-supporters p {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    background-color: #37afc9;
    color: #fff;
}

footer a, footer h2 {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 736px) {
    header.content {
        padding-top: 1em;
        margin-bottom: 3em;
    }
}
