.consento-blue {
    color: #37afc9;
}
.navbar {
    max-height: 100%;
}
header.content {
    padding-top: 9em;
}
header.main>:last-child {
    margin: 0px;
}
.page-about, .page-team, .page-supporters {
    .no-featured {
        margin-bottom: 50px;
        .content {
            blockquote {
                border-left: none;
                padding-left: 4em;
            }
            h2 {
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 20px;
            }
        }
    }
}

.page-supporters img {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #37afc9;
    color: #fff;
}

footer a, footer h2 {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 736px) {
    header.content {
        padding-top: 1em;
        margin-bottom: 3em;
    }
}
