
.navbar {
    max-height: 100%;
}

.page-about, .page-team, .page-supporters {

    h2 {
        margin-top: 2em;
        margin-bottom: 1.3em;
    }
    h3, h4, h5 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.consento-blue {
    color: #37afc9;
}