.default_button {
    font-family: Catamaran-SemiBold;
    text-decoration: none;        
    padding-top: 15px;
    height: 60px;
    width: 320px;
    border: none;
    border-radius: 11px;
    background-color: #37AFC9;
    box-shadow: none;
    font-size: 24px;
    font-weight: 600;
    color: rgba(255,255,255,0.87) !important;
}

.default_button:hover {
    background-color: #9DE0EF;
    border-color:  #37AFC9;
    opacity: 1;
    color: white !important;
}

#consento_home {
    margin-top: 140px;
}
#intro h1, #tech h2, #integrity h3 {
    padding-left: 0px;
}

#solution h2 {
    padding-right: 0px;
}
.dual {
    max-width: 182px;
    height: 53px;
    padding-top: 10px;
    margin-right: 5px;
}
#icon_area img {
    max-height: 91px;
}

#icon_area p {
    font-size: 24px;
}

#wrapper {
    overflow: auto;
}

.fixed-block-height {
    min-height: 388px;
}

#how_it_works {
    h3 {
        font-size: 27px;
    }
    img {
        width: 200px;
    }
}

.extra-spacing {
    margin-top: 5.5em;
}
.bottom_button {
    position: relative;
    top: 200px;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

@media screen and (max-width: 575px) {
    .default_button {
        width: 100%;
    }
    .col-sm-6 h1, .col-sm-6 h2, .col-sm-6 h3, .col-sm-6 p {
        margin-top: 25px !important;
        margin-bottom: 5px !important;
    }

    .col-sm-5, .col-sm-6, .button-wrapper {
        text-align: center;
    }
    #intro h1, #tech h2, #integrity h3 {
        padding-left: inherit;
    }

    #solution h2 {
        padding-right: inherit;
    }
    #consento_home, #intro, 
    #tech, #integrity, #co-op {
        text-align: center;    
    }
    .dual {
        max-width: 100%;
        margin-right: 0px;
    }
    .text-right {
        text-align: center !important;
    }
}
@media screen and (min-width: 576px) {
    #how_it_works p {
        text-align: left;
    }  
}
@media screen and (min-width: 768px) {
    #intro img, #co-op img, #integrity img {
        margin-top: -18em !important;
    }
    #solution, #integrity, #roadmap {
        margin-top: 5em !important;
    }
    #solution img, #roadmap img, #tech pre {
        margin-top: -9em !important;
    }
}
@media screen and (min-width: 1200px) {
    #how_it_works {
        margin-bottom: 5em !important;
    }
}
