.default_button {
    font-family: Catamaran-SemiBold;
    text-decoration: none;        
    padding-top: 15px;
    height: 60px;
    width: 320px;
    border: none;
    border-radius: 11px;
    background-color: #37AFC9;
    box-shadow: none;
    font-size: 24px;
    font-weight: 600;
    color: rgba(255,255,255,0.87) !important;
}

.default_button:hover {
    background-color: #9DE0EF;
    border-color:  #37AFC9;
    opacity: 1;
    color: white !important;
}

#consento_home {
    margin-top: 140px;
}
#intro h1, #tech h2, #integrity h3 {
    padding-left: 0px;
}

#solution h2 {
    padding-right: 0px;
}
.dual {
    max-width: 182px;
    height: 53px;
    padding-top: 10px;
    margin-right: 5px;
}
#icon_area img {
    max-height: 91px;
}

#icon_area p {
    font-size: 24px;
}
#wrapper {
    overflow: auto;
}