.default_button {
    font-family: _font(family-alt);
    text-decoration: none;        
    padding-top: 15px;
    height: 60px;
    width: 320px;
    border: none;
    border-radius: 11px;
    background-color: _palette(button-bg);
    box-shadow: none;
    font-size: 24px;
    font-weight: _font(weight-semi-bold);
    color: _palette(button-fg) !important;
}

.default_button:hover {
    background-color: _palette(button-alt-bg);
    border-color: _palette(button-bg);
    opacity: 1;
    color: _palette(button-fg) !important;
}

#consento_home {
    margin-top: 140px;
}
#intro h1, #tech h2, #integrity h3 {
    padding-left: 0px;
}

#intro {
    img {
        @media screen and (min-width: 575px) {
            max-width: 90%;       
        }
    }
}

#initiative img {
    max-width: 55%;
}

.dual {
    max-width: 182px;
    height: 53px;
    padding-top: 10px;
    margin-right: 5px;
}

#icon_area {
    p {
        font-size: 24px;
    }
    img {
        width: 150px;
    }
}

.fixed-block-height {
    min-height: 388px;
}

#how_it_works {
    h3 {
        font-size: 25px;
    }
    img {
        width: 200px;
    }
}

.extra-spacing {
    margin-top: 5.5em;
}
.bottom_button {
    position: relative;
    top: 200px;
}

pre code {
    background-color: _palette(_code-bg);
    border: 1px solid _palette(_code-border);
    display: block;
    padding: 20px;
}

.progress-block {
    .backlog-border {
        border-left: solid 4px #ef3433;
        margin-top: 15px;   
    }
    .progress-border {
        border-left: solid 4px #37afc9;
        margin-top: 15px;
    }
    h3 {
        font-size: 36px;
        @media screen and (min-width: 768px) and (max-width: 992px) {
            font-size: 25px;
        }
    }
    h4 {
        font-size: 21px;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        margin-bottom: initial;
    }
    p {
        font-size: 14px;
        padding-left: 5px;
        padding-bottom: 20px;
        line-height: initial;
    }
}

@media screen and (max-width: 575px) {
    .default_button {
        width: 100%;
    }
    .col-sm-6 h1, .col-sm-6 h2, .col-sm-6 h3, .col-sm-6 p {
        margin-top: 25px !important;
        margin-bottom: 5px !important;
    }

    .col-sm-5, .col-sm-6, .button-wrapper {
        text-align: center;
    }
    #intro h1, #tech h2, #integrity h3 {
        padding-left: inherit;
    }
    #intro img {
        width: 75%;
    }

    #solution h2 {
        padding-right: inherit;
    }
    #consento_home, #intro, 
    #tech, #integrity, #co-op {
        text-align: center;    
    }
    .dual {
        max-width: 100%;
        margin-right: 0px;
    }
    .text-right {
        text-align: center !important;
    }
}
@media screen and (min-width: 576px) {
    #how_it_works p {
        text-align: left;
    }
}
@media screen and (min-width: 768px) {
    #intro img {
        max-width: 28em;
        margin-top: -20em !important;
        @media screen and (min-width: 992px) {
            margin-top: -18em !important;
        }
    }
    #co-op img, #integrity img {
        margin-top: -18em !important;
    }
    #integrity {
        margin-top: 5em !important;
    }
    #tech pre {
        margin-top: -9em !important;
    }
}
@media screen and (min-width: 992px) {
    #roadmap img {
        width: 65%;
    }
}
@media screen and (min-width: 1200px) {
    #how_it_works {
        margin-bottom: 5em !important;
    }
}
