.default_button {
    font-family: _font(family-alt);
    text-decoration: none;        
    padding-top: 15px;
    height: 60px;
    width: 320px;
    border: none;
    border-radius: 11px;
    background-color: _palette(button-bg);
    box-shadow: none;
    font-size: 24px;
    font-weight: _font(weight-semi-bold);
    color: _palette(button-fg) !important;
}

.default_button:hover {
    background-color: _palette(button-alt-bg);
    border-color: _palette(button-bg);
    opacity: 1;
    color: _palette(button-fg) !important;
}

#consento_home {
    margin-top: 140px;
}
#intro h1, #tech h2, #integrity h3 {
    padding-left: 0px;
}

#solution h2 {
    padding-right: 0px;
}
.dual {
    max-width: 182px;
    height: 53px;
    padding-top: 10px;
    margin-right: 5px;
}
#icon_area img {
    max-height: 91px;
}

#icon_area p {
    font-size: 24px;
}

.fixed-block-height {
    min-height: 388px;
}

#how_it_works {
    h3 {
        font-size: 25px;
    }
    img {
        width: 200px;
    }
}

.extra-spacing {
    margin-top: 5.5em;
}
.bottom_button {
    position: relative;
    top: 200px;
}

pre code {
    background-color: _palette(_code-bg);
    border: 1px solid _palette(_code-border);
    display: block;
    padding: 20px;
}

.roadmap-border {
    border-bottom: 6px solid rgba(55, 175, 201, 0.27);
    h3 {
        font-size: 1.25em;
        margin-bottom: 5px;
    }
}

.roadmap-area {
    border-bottom: 6px solid rgba(55, 175, 201, 0.27);
}

.progress-block {
    .backlog-border {
        border-left: solid 4px #ef3433;
        margin-top: 15px;   
    }
    .progress-border {
        border-left: solid 4px #37afc9;
        margin-top: 15px;
    }
    h4 {
        font-size: 21px;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        margin-bottom: initial;
    }
    p {
        font-size: 14px;
        padding-left: 5px;
        padding-bottom: 20px;
        line-height: initial;
    }
}

@media screen and (max-width: 575px) {
    .default_button {
        width: 100%;
    }
    .col-sm-6 h1, .col-sm-6 h2, .col-sm-6 h3, .col-sm-6 p {
        margin-top: 25px !important;
        margin-bottom: 5px !important;
    }

    .col-sm-5, .col-sm-6, .button-wrapper {
        text-align: center;
    }
    #intro h1, #tech h2, #integrity h3 {
        padding-left: inherit;
    }

    #solution h2 {
        padding-right: inherit;
    }
    #consento_home, #intro, 
    #tech, #integrity, #co-op {
        text-align: center;    
    }
    .dual {
        max-width: 100%;
        margin-right: 0px;
    }
    .text-right {
        text-align: center !important;
    }
    .roadmap-border {
        border-bottom: none;
        h3 {
            font-size: 36px;
        }
    }
    .large-screen {
        display: none;
    }
}
@media screen and (min-width: 576px) {
    #how_it_works p {
        text-align: left;
    }
    .small-screen {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    #intro img {
        max-width: 31em;
        margin-top: -24em !important;
        @media screen and (min-width: 1200px) {
            margin-top: -18em !important;
        }
    }
    #co-op img, #integrity img {
        margin-top: -18em !important;
    }
    #solution, #integrity {
        margin-top: 5em !important;
    }
    #solution img, #tech pre {
        margin-top: -9em !important;
    }
    #roadmap {
        h2 {
            padding-top: 4em;
            @media screen and (min-width: 1200px) {
                padding-top: 5em;
            }
        }
        .roadmap-border {
            margin-top: -30em;
            h3 {
                font-size: 1.9em;
            }
            @media screen and (min-width: 1200px) {
                margin-top: -34em;
            }
            @media screen and (min-width: 1281px) {
                margin-top: -31.5em;
            }
            @media screen and (min-width: 1681px) {
                margin-top: -26.5em;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    #how_it_works {
        margin-bottom: 5em !important;
    }
}
